html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

/*  small screens  */
@media  screen and ( max-width:450px) {
  header {
    font-size: 20px;
  }
  .score-panel {
    width: 345px;
    font-size: 25px;
  }

  .mr {
     margin-left: 10%;
 }

  .deck {
      width: 370px;
      min-height: 380px;
      background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 3em;
  }

  .deck .card {
      height: 70px;
      width: 70px;
      background: #2e3d49;
      font-size: 0;
      color: #ffffff;
      border-radius: 8px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
      margin-bottom: 5%;
  }
  .symbol {
    font-size: 1em	;
  }
}


/*  Ipad   */
@media  screen and ( min-width:800px) {
  header {
    font-size: 30px;
  }
  .score-panel {
    width: 645px;
    font-size: 40px;
  }

  .mr {
     margin-left: 10%;
 }

  .deck {
      width: 700px;
      min-height: 680px;
      background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 3em;
  }

  .deck .card {
      height: 150px;
      width: 150px;
      background: #2e3d49;
      font-size: 0;
      color: #ffffff;
      border-radius: 8px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
      margin-bottom: 5%;
  }
  .symbol {
    font-size: 2em	;
  }
}

/*  Ipad pro  */
@media  screen and ( min-width:800px) {
  header {
    font-size: 30px;
  }
  .score-panel {
    width: 850px;
    font-size: 50px;
  }

  .mr {
     margin-left: 20%;
 }

  .deck {
      width: 930px;
      min-height: 680px;
      background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 3em;
  }

  .deck .card {
      height: 180px;
      width: 180px;
      background: #2e3d49;
      font-size: 0;
      color: #ffffff;
      border-radius: 8px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
      margin-bottom: 5%;
  }
  .symbol {
    font-size: 2em	;
  }
}

/*  desktop screens */
@media  screen and ( min-width:1026px) {
  header {
    font-size: 15px;
  }
  .score-panel {
    width: 350px;
    font-size: 20px;
  }
  .mr {
     margin-left: 20%;
 }

  .deck {
      width: 660px;
      min-height: 680px;
      background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
      padding: 32px;
      border-radius: 10px;
      box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 0;
  }

  .deck .card {
      height: 125px;
      width: 125px;
      background: #2e3d49;
      font-size: 0;
      color: #ffffff;
      border-radius: 8px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
      margin-bottom: 5%;
  }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck .card.open {
    /* transform: rotateY(180deg); */
    background: #02b3e4;
    cursor: default;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.deck .card.show {
    font-size: 33px;
    transform: rotateY(180deg);
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    /* transform: rotateY(180deg); */
    -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
            animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.deck .card.unmatch{
  animation: shake 0.5s;
  /* transform: rotateY(180deg); */
}
.shadow-pop-tr {
	-webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-3-31 18:4:17
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-pop-tr
 * ----------------------------------------
 */
@-webkit-keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}
@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/*
 * Styles for the Score Panel
 */

 .score-panel {
    text-align: left;
    margin-bottom: 10px;
}

.score-panel .stars {
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}
